@model IEnumerable<USERROLES.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("View Exercises", "Index", "Exercises")
    @Html.ActionLink("View Logs", "Index", "Logs")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Physician.PhFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RX.RxName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physician.PhFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RX.RxName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PID })
        </td>
    </tr>
}

</table>
